body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;


}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.company {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center; /* Wyśrodkowanie w pionie */
}
.company img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.company-details {
    flex: 1; /* Elastyczny kontener dla szczegółów firmy */
}
.company-details h2 {
    margin-top: 0; /* Usunięcie domyślnego marginesu dla nagłówka */
    text-align: center; /* Wyśrodkowanie tekstu */
}
.company-details p {
    text-align: center; /* Wyśrodkowanie tekstu */
}
.company-details .specialties {
    /*margin-top: 30px; !* Dodany margines powyżej tabelki *!*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 1px solid #ccc; /* Dodane obramowanie */
    border-radius: 5px; /* Zaokrąglenie rogów */
    padding: 20px; /* Dodane wewnętrzne odstępy */
    /*margin-bottom: 20px;*/
}
.company-details .specialties div {
    border: 1px solid #ccc;
}
.company-details .specialties p {
    margin: 0; /* Usunięcie domyślnego marginesu dla paragrafu */
}
.btn-container {
    text-align: center; /* Wyśrodkowanie przycisku */
    margin-top: 30px; /* Dodany margines powyżej przycisku */
}
.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}
/* Stylowanie mapy targów pracy */
.map {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    margin-top: 20px;

}
.hallway {
    grid-column: span 5;
}
.booth {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex; /* Ustawienie kontenera na flexbox */
    justify-content: center; /* Wyśrodkowanie zawartości wzdłuż osi X */
    align-items: center; /* Wyśrodkowanie zawartości wzdłuż osi Y */
    text-align: center; /* Dodanie wyśrodkowania tekstu */
}

.booth:hover {
    background-color: #ccc; /* zmieniony kolor podczas najechania na stoisko */
}

.booth:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px; /* Przesunięcie do góry o 30px */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

/*.booth:hover::before {*/
/*    content: attr(data-tooltip);*/
/*    position: absolute;*/
/*    top: 50%; !* Ustawienie górnego marginesu na 50% *!*/
/*    left: 50%;*/
/*    padding: 5px;*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    border-radius: 5px;*/
/*    font-size: 12px;*/
/*    white-space: nowrap;*/
/*    transform: translateX(-50%);*/
/*    !* Ustawienie marginesu górnego na - połowę wysokości tooltipu *!*/
/*    margin-top: -12px; !* Połowa wysokości tooltipu (12px) *!*/
/*}*/




.section-title {
    text-align: center;
    margin-bottom: 20px;
    background-color: #88829A;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

/* Style dla strony firmy */
.main_cointainer {
    position: fixed;
    width: 25%;
    margin: auto;
    padding: 100px;
    margin-left: 62%;

}
.rest_page_cointainer {
    position: absolute;
    width: 53%;
    padding: 0;
    margin-left: 200px;
    margin-top: -40px;

}

.container_back {
    position: relative;
    width: 1200px; /* Szerokość kontenera */
    height: 300px; /* Wysokość kontenera */
    margin-top: 0; /* Centralizuje kontener na stronie */
    margin-left: 0;
    border-radius: 5px;
    overflow: hidden; /* Ukrywa elementy, które wykraczają poza kontener */

}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Rozciąga obraz na całą szerokość kontenera */
    height: 100%; /* Rozciąga obraz na całą wysokość kontenera */
    background-size: cover; /* Dopasowuje obrazek do wielkości kontenera */
    background-position: center; /* Ustawia pozycję obrazka na środku */
    z-index: -1; /* Ustawia obrazek jako element tła */
    /* opacity: 0.9; */

}

.container_who2 {
    width: 90%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    height: 425px;
    overflow-wrap: break-word;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.section-title11 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #3309c9;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 90%;
}
.container_who1 {
    width: 100%;
    padding: 20px; /* Zwiększono wartość padding, aby dodać odstęp od krawędzi */
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    height: 390px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.section-title1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #3309c9;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.text_in_main {
    width: 70%;
    background-color:  #ffffff;
    overflow: hidden;
    margin-left: 50px;
}

.button_cont {
    width: 190px; /* Szerokość kontenera */
    padding: 0; /* Wewnętrzny odstęp dla zawartości (opcjonalny) */
    background-color: #ffffff; /* Kolor tła kontenera */
    position: absolute;
    top: 80%;
    left: 45%;

}

 /* Stylizacja przycisku */
 .button_cont button {
    background-color: #073288; /* Kolor tła przycisku */
    border: none; /* Brak obramowania */
    color: white; /* Kolor tekstu */
    padding: 10px 20px; /* Wewnętrzny odstęp przycisku */
    text-align: center; /* Wyśrodkowanie tekstu */
    text-decoration: none; /* Brak podkreślenia */
    display: inline-block; /* Występowanie jako blok, aby zmieścić wewnętrzne marginesy */
    font-size: 16px; /* Rozmiar czcionki */
    cursor: pointer; /* Kursor wskazujący */
    border-radius: 40px; /* Zaokrąglenie rogów */
    transition: background-color 0.1s; /* Płynne przejście koloru tła */

}

/* Dodatkowy styl po najechaniu na przycisk */
.button_cont button:hover {
    background-color: #5363bf; /* Inny kolor tła po najechaniu */
}

/* Style dla harmonogramu */
.main_cointainer1 {
    position: relative;
    width: 90%;
    padding: 50px;
    margin-right: 20%;
    height: 1000px;


}
.section-title2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #7206a4;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.btn1 {
    background-color: #49024e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button_cont1 {
    width: 190px; /* Szerokość kontenera */
    padding: 0; /* Wewnętrzny odstęp dla zawartości (opcjonalny) */
    background-color: #ffffff; /* Kolor tła kontenera */
    position: fixed;
    top: 600px;
    left: 700px;

}

.workshop {
    position:relative;
    width: 99%;
    padding: 10px;
    margin-right: 10%;
    font-size: 13px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.container_plan {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    height: 2000px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#floatingButton {

    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 999; /* Ustawienie z-index na wysoką wartość, aby przycisk był na wierzchu */
    background-color: #7e6dd7;
    color: #fff;

    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#floatingButton:hover{
    background-color: #8777d7;
}


.content {
    padding-bottom: 60px; /* Ustal odpowiedni margines dolny dla zawartości, aby uniknąć zakrycia przez przycisk */
}

.filter-container {
    margin-bottom: 20px;
}

.filter-header {
    cursor: pointer;
    user-select: none;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 kolumn */
    grid-gap: 10px;
}

.filter-grid div {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.filter-grid input[type="checkbox"] {
    margin-right: 5px;
}

.results {
    margin-top: 20px;
}

.result-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.filters {

    margin-top: 20px;

}
#toggleFiltersButton {
    background-color: #4CAF50; /* Kolor tła */
    color: white; /* Kolor tekstu */
    padding: 10px 20px; /* Wielkość wypełnienia */
    border: none; /* Brak obramowania */
    border-radius: 5px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Zmień kształt kursora na wskaźnik */
    font-size: 16px; /* Rozmiar czcionki */
    margin-bottom: 20px; /* Dodanie odstępu od kontenera pod przyciskiem */
}

/* Styl przy najechaniu na przycisk */
#toggleFiltersButton:hover {
    background-color: #45a049; /* Ciemniejszy kolor tła */
}

#newbutton {


    z-index: 999; /* Ustawienie z-index na wysoką wartość, aby przycisk był na wierzchu */
    background-color: #7a6fb3;
    color: #fff;
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#favoritesContainer {
    position: fixed;
    top: 80px;
    left: 20px;
    width: 300px;
    max-height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    padding: 10px;
}

#favoritesContainer table {
    width: 100%;
}

#favoritesContainer td {
    padding: 8px;
    vertical-align: middle;
}

#favoritesContainer .small-logo {
    width: 30px;
    height: auto;
}

#favoritesContainer button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#favoritesContainer button:hover {
    background-color: #ff1a1a;
}

#newbutton1, #newbutton2, #newbutton3 , #newbutton4{
    background-color: #7e6dd7; /* Jasny fioletowy kolor tła */
    color: white; /* Biały kolor tekstu */
    border: none; /* Usunięcie obramowania */
    padding: 8px 16px; /* Dodanie wewnętrznego marginesu */
    border-radius: 5px; /* Zaokrąglenie rogów */
    text-decoration: none; /* Usunięcie podkreślenia */
    font-size: 14px; /* Rozmiar tekstu */
    width: 130px; /* Stała szerokość przycisku */
    text-align: center; /* Wyśrodkowanie tekstu */
    display: inline-block; /* Ustawienie jako element inline-block */
    cursor: pointer;
}
#newbutton4{
    background-color: #7e6dd7; /* Jasny fioletowy kolor tła */
    color: white; /* Biały kolor tekstu */
    border: none; /* Usunięcie obramowania */
    padding: 8px 16px; /* Dodanie wewnętrznego marginesu */
    border-radius: 5px; /* Zaokrąglenie rogów */
    text-decoration: none; /* Usunięcie podkreślenia */
    font-size: 14px; /* Rozmiar tekstu */
    width: 130px; /* Stała szerokość przycisku */
    text-align: center; /* Wyśrodkowanie tekstu */
    display: inline-block; /* Ustawienie jako element inline-block */
    cursor: pointer;
    position: fixed;
    top: 40px;
    left: 20px;
    z-index: 999; /* Ustawienie z-index na wysoką wartość, aby przycisk był na wierzchu */}

#newbutton1:hover, #newbutton2:hover , #newbutton3:hover, #newbutton4:hover, #newbutton5:hover{
    background-color: #8777d7;
}

