<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj firmę</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h2>Edytuj firmę</h2>
    <form th:action="@{/adminView/saveCompany}" th:object="${company}" method="post">
        <div class="form-group">
            <label>Nazwa firmy:</label>
            <input type="text" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label>Adres strony www:</label>
            <input type="text" th:field="*{websiteUrl}" required>
        </div>
        <div class="form-group">
            <label>Numer stanowiska:</label>
            <input type="number" th:field="*{boothNumber}" required>
        </div>
        <div class="form-group">
            <label>Opis:</label>
            <textarea th:field="*{description}" required></textarea>
        </div>
        <div class="form-group">
            <label>Pożądane kierunki:</label>
            <textarea th:field="*{whoLookingFor}" required></textarea>
        </div>
        <div class="form-group">
            <label>Preferowane umiejętności:</label>
            <textarea th:field="*{skills}" required></textarea>
        </div>
        <div class="form-group">
            <label>Logo URL:</label>
            <input type="text" th:field="*{logoUrl}" required>
        </div>
        <div class="form-group">
            <label>Obraz URL:</label>
            <input type="text" th:field="*{imgUrl}" required>
        </div>
        <div class="form-group">
            <label>Opis szczegółowy:</label>
            <textarea th:field="*{longDescription}" required></textarea>
        </div>
        <button type="submit">Zapisz</button>
    </form>
</div>
</body>
</html>
