<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warsztaty</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<div class="main_cointainer1">
    <h2 class="section-title2">Plan warsztatów</h2>
    <div class="container_plan">
        <div class="workshop" th:each="workshop : ${workshops}">
            <h2 th:text="${workshop.title}"></h2>
            <p><strong>Data: </strong><span th:text="${workshop.date}"></span></p>
            <p><strong>Godzina: </strong><span th:text="${workshop.time}"></span></p>
            <p><strong>Miejsce: </strong><span th:text="${workshop.place}"></span></p>
            <p><strong>Prowadzący: </strong><span th:text="${workshop.host}"></span></p>
        </div>
    </div>



</div>

</body>
</html>