<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="Warsztaty"></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<div class="main_cointainer1">
    <h2 class="section-title2">Plan warsztatów</h2>
    <div class="container_plan">
        <div class="workshop">
            <h2>Jak pogodzić siłkę i studia</h2>
            <p><strong>Data:</strong> 20 kwietnia 2024</p>
            <p><strong>Godzina:</strong> 10:00 - 12:00</p>
            <p><strong>Miejsce:</strong> Sala konferencyjna A</p>
            <p><strong>Prowadzący:</strong> Karol Korszun</p>
        </div>

        <div class="workshop">
            <h2>Elektronika analogowa zaawansowana bardziej niż ELA2</h2>
            <p><strong>Data:</strong> 21 kwietnia 2024</p>
            <p><strong>Godzina:</strong> 13:00 - 15:00</p>
            <p><strong>Miejsce:</strong> Sala konferencyjna B</p>
            <p><strong>Prowadzący:</strong> Piotr Sienkiewicz</p>
        </div>

        <div class="workshop">
            <h2>Programowanie w języku Python</h2>
            <p><strong>Data:</strong> 22 kwietnia 2024</p>
            <p><strong>Godzina:</strong> 09:00 - 11:00</p>
            <p><strong>Miejsce:</strong> Sala konferencyjna C</p>
            <p><strong>Prowadzący:</strong> Konrad Karpiuk</p>
        </div>
        <div class="workshop">
            <h2>ROS2 - poziom młodszy specjalista</h2>
            <p><strong>Data:</strong> 21 kwietnia 2024</p>
            <p><strong>Godzina:</strong> 10:00 - 11:00</p>
            <p><strong>Miejsce:</strong> Sala konferencyjna 113</p>
            <p><strong>Prowadzący:</strong> Kamil Cisek</p>
        </div>
        <div class="workshop">
            <h2>Szybkie pisanie w systemie Ovation czu czu czu</h2>
            <p><strong>Data:</strong> 22 kwietnia 2024</p>
            <p><strong>Godzina:</strong> 09:00 - 11:00</p>
            <p><strong>Miejsce:</strong> Sala konferencyjna C</p>
            <p><strong>Prowadzący:</strong> Michał Kaniecki</p>
        </div>

        <div class="workshop">
            <h2>Jak spać mniej niż inni i jeszcze przebiec półmaraton</h2>
            <p><strong>Data:</strong> 22 kwietnia 2024</p>
            <p><strong>Godzina:</strong> 09:00 - 11:00</p>
            <p><strong>Miejsce:</strong> Sala konferencyjna C</p>
            <p><strong>Prowadzący:</strong> Wioleta Żochowska</p>
        </div>

    </div>
    <div class="button_cont1">
        <a th:href=""
        class="btn1">Więcej</a>
    </div>


</div>

</body>
</html>